<% position = Time.now.to_i.to_s + Time.now.usec.to_s unless position %>
<% @position = position %>

<div id="arm_<%= @position %>" style="line-height:30px;padding-top:5px">
  <div class="row">
    <div class="col-xs-2">
      <%= text_field_tag "project[treatment_arms][][name]", arm[:name], class: 'form-control', placeholder: 'Name' %>
    </div>
    <div class="col-xs-2">
      <%= text_field_tag "project[treatment_arms][][allocation]", arm[:allocation], class: 'form-control', placeholder: 'Allocation' %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Remove', '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'remove', target: "#arm_#{@position}" }, tabindex: '-1' %>
    </div>
  </div>
</div>
